@import url("https://fonts.googleapis.com/css2?family=Genos:wght@700&family=Montserrat:wght@500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-color: #1c2d1b;
  --btn-1-color: #a0b5eb;
  --btn-2-color: #c9f0e4;
  --btn-3-color: #edaef9;
  --btn-4-color: #81b1fa;
  --logo-font: "Genos", sans-serif;
  --base-font: "Montserrat", serif;
  --min-height: calc(100vh - 45px);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--base-color);
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  font-family: var(--base-font);
}
@layer components {
  .btn{
    @apply px-3 py-1.5 bg-gradient-to-r from-[var(--btn-1-color)] to-[var(--btn-2-color)] rounded duration-300 hover:from-[var(--btn-3-color)] hover:to-[var(--btn-4-color)] hover:text-white;
  }
  .btn-outline{
    @apply px-3 py-1.5 bg-white rounded border-2 border-[var(--btn-1-color)]  duration-300 hover:border-[var(--btn-3-color)];
  }
  .btn-circle{
    /* @apply w-6 h-6 bg-gradient-to-r from-[var(--btn-1-color)] to-[var(--btn-2-color)] rounded-full duration-300 ; */

    @apply pointer-events-none group-hover:pointer-events-auto opacity-0 group-hover:opacity-100 translate-x-6 group-hover:translate-x-0 duration-200 bg-gradient-to-r from-[var(--btn-1-color)] to-[var(--btn-2-color)] w-6 h-6 rounded-full
  }
  .tbl-head{
    @apply py-4 px-3 uppercase font-medium text-black;
  }
  .input-style,.select-style{
    @apply h-7 border px-1 border-gray-300 focus:border-blue-300 focus:outline-none;
  }
}